input[type='text'] {
	width: 100%;
}

/* medical hide at the start */
#medical_croppie_wrap_portrait {
	display: none;
	width: 700px;
    height: 920px;
    margin: 0 auto;
}

#medical_croppie_wrap_landscape {
	display: none;
	width: 900px;
    height: 720px;
    margin: 0 auto;
}

/* hide the wrap number */
span.value {
	display: none !important;
}

.iow-ck-button input:hover + span.medical {
    background-color:#e0efe0;
}

.iow-ck-button input:checked + span.medical {
    background-color:#119911;
    color:#fff;
}

.iow-ck-button input:checked:hover + span.medical {
    background-color:#11cc11;
    color:#fff;
}

