<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="4">
      <div class="inner" style="display: flex; align-items: center; padding: 15px 0px; box-shadow: 0 4px 4px -2px rgba(0,0,0,0.28); margin-bottom: 15px;">
        <div class="icon" style="display: inline-block;">
          <img src="{{ site_url }}/core/images/education.png" style="vertical-align: middle;" width="64px" alt="">
        </div>
        <div class="text" style="display: inline-block; padding-left: 15px; vertical-align: middle;">
          <p>
            <strong>Education:</strong><br>
        Long,medium,short term training gets your WORK READY!
          </p>
        </div>
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <div class="inner" style="display: flex; align-items: center; padding: 15px 0px; box-shadow: 0 4px 4px -2px rgba(0,0,0,0.28); margin-bottom: 15px;">
        <div class="icon" style="display: inline-block;">
          <img src="{{ site_url }}/core/images/experience.png" style="vertical-align: middle;" width="64px" alt="">
        </div>
        <div class="text" style="display: inline-block; padding-left: 15px; vertical-align: middle;">
          <p>
            <strong>Experience:</strong><br>
        Quality work experience, working holidays and internship that get you the experience to GET YOUR DREAB JOB!
          </p>
        </div>
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <div class="inner" style="display: flex; align-items: center; padding: 15px 0px; box-shadow: 0 4px 4px -2px rgba(0,0,0,0.28); margin-bottom: 15px;">
        <div class="icon" style="display: inline-block;">
          <img src="{{ site_url }}/core/images/employment.png" style="vertical-align: middle;" width="64px" alt="">
        </div>
        <div class="text" style="display: inline-block; padding-left: 15px; vertical-align: middle;">
          <p>
            <strong>Employment:</strong><br>
        Work for a good employer, get international experience, and build a BRILLIANT CAREER
          </p>
        </div>
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <div class="cta" style="width: 100%;
    padding: 30px 0px;">
      <p style="text-align: center;
      font-size: 18px;
      margin-bottom: 0px;
      margin-top: 0px;">We can't wait to show you our new programs. so, what are you waiting for?</p>
      <p style="text-align: center;
      font-size: 18px;
      margin-bottom: 0px;
      margin-top: 0px;">Register now for <strong class="text-green">FREE!</strong></p>
      <p style="margin-top: 30px; text-align: center">
        <a href="{{ site_url/register }}" class="btn-cta" style="text-decoration: none;
        padding: 5px 12px;
        background-color: #373894;
        color: #fff;
        margin-top: 30px;
        border-radius: 12px;" href="#">Register Now</a>
      </p>
      
    </div>
    </td>
  </tr>
</table>
