
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>{{ title }}</title>
		
		<style type="text/css">
			
		</style>
		
	</head>
	
	<body>
	
	<!-- Using tables for layout to be compatible with most clients -->
		
		<table width="620" cellpadding="0" cellspacing="0" id="bodyTable">
			
			<!-- Header -->
			<tr id="headingRow">
				<th>
					<img src="#" alt="Banner" width="620" height="100">
				</th>
			</tr>
			
			<!-- Body -->
			<tr id="bodyRow">
				<td>
					<div id="emailMessage">
						{{ message }}
					</div>
				</td>
			</tr>
	
			<!-- Footer -->
			<tr id="footerRow">
				<td></td>
					<div id="unsubscribe">
						<a href="#">Unsubscribe</a>
					</div>
				</td>
			</tr>
			
		</table>
		
	</body>

</html>