<p>Hello {{ to_name }}</p> 

<p>We already review your personal data with status: <strong>{{ status }}</strong> </p>

Additional message: <br>
<div style="border:1px solid #eee;padding:15px">
    {{ note }}
</div>

<p>When your membership is <strong>Verified</strong>, you will be able to:</p>
<ul>
<li>Generate and download your CV</li>  
<li>Access available job positions.</li>  
<li>Access available education courses.</li>  
<li>Notified when there any update about job position accordin to your employment hisotory and our other programs.</li> 
</ul>

<p>Please visit this link to login into your profile: <a href="https://members.speedy.global/security">https://members.speedy.global/security<a></a></p>
<p>If you need tutorial how to update the profile, please visit : <a href="https://members.speedy.global/about">https://members.speedy.global/about</a></p>
<br><p>Thank You</p>